body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.6em;
  line-height: 1.6em;
}

code {
  /* color: inherit; */
  background-color: transparent;
}

h2 {
    margin-top: 1.1em;
}

h3 {
    margin-top: 1em;
}

h4 {
    margin-top: 0.9em;
}

.alert {
    font-size: 0.9em;
    font-weight: normal;
    text-align: center;
    padding: 0.4em;
}

.container {
    max-width: 950px;
}

.page-header {
  margin-top: 30px;
}

.breadcrumb {
  margin-top: 20px;
}

.content h2:first-of-type {
  margin-top: 0px;
}

.half-rule {
  width: 100px;
  margin: 25px auto;
}


.fa {
  margin-right: 0.5em;
}

.checklist {
  padding: 0;
  list-style: none;
}

/* footer */

.footer {
  margin-top: 30px;
  padding-top: 11px;
  color: #777;
  border-top: 1px solid #eee;
  font-size: 70%;
  line-height: 1.5em;
  text-align: center;
}

.footer p {
  margin: 0px;
}

/* toc */

.sidebar {
  font-size: 90%;
  line-height: normal
}

.toc ul  {
  padding-left: 0;
  list-style: none;
}

.toc ul li {
  padding-top: 3px;
}

.toc ul ul {
  padding-left: 10px;
  font-size: 95%;
}

/* heading scrolling */

h2[id]:before,
h3[id]:before{
  content: "";
  display: block;
  height: 70px;
  margin-top:-70px;
}

/* affix hacks from boostrap 3.0 docs */
.sidebar.affix {
    position: static;
}

@media (min-width: 992px) {
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 263px;
  }
}


/* Banner */

.banner {
    background-size: cover;
    margin: 0px;
    margin-top: -5px;
    margin-bottom: 0px;
    width: 100%;
    -moz-box-shadow:    inset  0  15px 15px -15px #333,
                        inset  0 -15px 15px -15px #333;
    -webkit-box-shadow: inset  0  15px 15px -15px #333,
                        inset  0 -15px 15px -15px #333;
     box-shadow:        inset  0  15px 15px -15px #333,
                        inset  0 -15px 15px -15px #333;
}

.banner-text {
    margin: 0;
    padding: 120px 10% 170px 10%;
    height: 400px;
    width: 100%;
    /*display: table-cell;*/
    display: table;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    line-height: 1.7em;
    color: #ffffff;
	text-shadow: 2px 2px 7px #444444;
}

.banner-title {
    margin: 0;
    padding: 120px 10% 170px 10%;
    height: 400px;
    width: 100%;
    /*display: table-cell;*/
    display: table;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.7em;
    color: #ffffff;
    text-shadow: 2px 2px 7px #444444;
}


/* Home sections and items */

.container-fluid.home-section {
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px 0px 40px 0px;
}

.inner-shadow {
    background: #eee;
    -moz-box-shadow:    inset  0  15px 15px -15px #333,
                        inset  0 -15px 15px -15px #333;
    -webkit-box-shadow: inset  0  15px 15px -15px #333,
                        inset  0 -15px 15px -15px #333;
     box-shadow:        inset  0  15px 15px -15px #333,
                        inset  0 -15px 15px -15px #333;
}

.row.home-item {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 950px;
}

h1.home-section-title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
	color: #222;
}

h2.item {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-weight: 400;
	font-size: 1.5em;
}

p.item {
    margin-top: 0;
    margin-bottom: 0.3em;
}


/* Navbar */

.navbar-brand {
	font-size: 1.4em;
}

li.navitem {
	font-size: 1.2em;
}
