<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    {% set url_prefix = '' %}
    {% if config.baseurl %}
    {%   set url_prefix = '/' + config.baseurl %}
    {% endif %}

    <!-- CSS Reset -->
    <link rel="stylesheet" href="{{url_prefix + '/css/normalize.css'}}" />

    <!-- Bootstrap Grid -->
    <link rel="stylesheet" href="{{url_prefix + '/css/bootstrap-grid.min.css'}}" />

    <!-- Fontawesome -->
    <link rel="stylesheet" href="{{url_prefix + '/css/fontawesome/css/all.css'}}" />

    <!-- Forkawesome -->
    <link rel="stylesheet" href="{{url_prefix + '/css/forkawesome/css/fork-awesome.min.css'}}" />

    <!-- Academicons -->
    <link rel="stylesheet" href="{{url_prefix + '/css/academicons/css/academicons.min.css'}}" />

    <!-- Custom style -->
    <link rel="stylesheet" href="{{url_prefix + '/css/style.css'}}" />

  </head>

  <body>

    {% block body %}
    {% endblock %}

  </body>

  <script src="{{ url_prefix + '/script.js' }}"></script>
</html>

