{% extends "_base.html" %}
{% from "macros.html" import print_entry %}

{% block body %}

{% include '_navbar.html' %}

<header class="main-header">
    <img
    src="{{ config.home_image.image }}"
    alt=" {{ config.home_image.alt }}"
    />
    <h1>{{config.brand}}</h1>
    <ul class="social-icons">
    {% for social in config.social %}
    {%- if social.home -%}
    <li>
        <a href="{{social.url}}" aria-label="{{social.name}}">
            <i
                class="{{social.icon}}"
                title="{{social.name}}"
                aria-hidden="true"
            ></i>
        </a>
    </li>
    {%- endif -%}
    {% endfor %}
    </ul>
</header>

<main class="container">
{%- for section in page.content -%}
    <section>
        <h2>{{section.title}}</h2>
        {%- if section.content is defined -%}
            {%- for entry in section.content -%}
                {{ print_entry(entry, config) }}
            {%- endfor -%}
        {%- else -%}
          {{ section.excerpt }}
        {%- endif -%}
    </section>
{%- endfor -%}

    {{ page.body }}

</main>

{% include '_footer.html' %}

{% endblock %}
