{% extends "_entry.html" %}
{%- from "macros.html" import link, doi_link -%}

{% block info %}
  <h2>Info</h2>
  <ul class="fa-ul">
    {%- if page.meeting is defined -%}
    <li>
        <i class="fa-li fas fa-users" title="Meeting"></i>
        Presented at:
        {{ link(page.meeting.name, page.meeting.url) }}
    </li>
    {%- endif -%}
    {%- if page.organizer is defined -%}
    <li>
        <i class="fa-li fas fa-university" title="Organizer"></i>
        Organized by:
        {{ link(page.organizer.name, page.organizer.url) }}
    </li>
    {%- endif -%}
    {%- if page.code is defined -%}
    <li>
        <i class="fa-li fas fa-code" title="Source code"></i>
        Source code:
        {{ link(page.code.repo, page.code.url) }}
    </li>
    {%- endif -%}
    {%- if page.license is defined -%}
    {%- set license = site.licenses[page.license] -%}
    <li>
        <i class="fa-li fas fa-balance-scale" title="License"></i>
        {{ link(license.name, license.url) }}
    </li>
    {%- endif -%}
    {%- if page.doi is defined -%}
    <li>
        <i class="fa-li far fa-file" title="doi"></i>
        doi:
        {{ doi_link(page.doi) }}
    </li>
    {%- endif -%}
{% endblock %}

{% block content %}
  {{ page.body }}
{% endblock %}
