{% extends "_entry.html" %}
{%- from "macros.html" import link, doi_link -%}

{% block info %}
  <h2>Info</h2>
  <ul class="fa-ul">
    {%- if this.meeting is defined -%}
    <li>
        <i class="fa-li fas fa-users" title="Meeting"></i>
        Presented at:
        {{ link(this.meeting.name, this.meeting.url) }}
    </li>
    {%- endif -%}
    {%- if this.organizer is defined -%}
    <li>
        <i class="fa-li fas fa-university" title="Organizer"></i>
        Organized by:
        {{ link(this.organizer.name, this.organizer.url) }}
    </li>
    {%- endif -%}
    {%- if this.code is defined -%}
    <li>
        <i class="fa-li fas fa-code" title="Source code"></i>
        Source code:
        {{ link(this.code.repo, this.code.url) }}
    </li>
    {%- endif -%}
    {%- if this.license is defined -%}
    {%- set license = site.licenses[this.license] -%}
    <li>
        <i class="fa-li fas fa-balance-scale" title="License"></i>
        {{ link(license.name, license.url) }}
    </li>
    {%- endif -%}
    {%- if this.doi is defined -%}
    <li>
        <i class="fa-li far fa-file" title="doi"></i>
        doi:
        {{ doi_link(this.doi) }}
    </li>
    {%- endif -%}
{% endblock %}

{% block content %}
  {{ this.body }}
{% endblock %}
