{% extends "_entry.html" %}
{%- from "macros.html" import link, doi_link -%}

{% block extra_info %}
    {%- if page.inreview -%}
        <div class="warning">
            This article is under peer-review process
            {% if page.journal is defined -%}
            in <em>{{ page.journal.name }}</em>
            {%- endif -%}
        </div>
    {%- endif -%}
{% endblock %}

{% block info %}
  <h2>Info</h2>
  <ul class="fa-ul">
    {%- if page.journal is defined and not page.inreview -%}
        {%- if page.journal.name -%}
        <li>
            <i
                class="fa-li fas fa-book"
                title="Journal"
                aria-hidden="true"
            ></i>
            Journal:
            <em>{{ link(page.journal.name, page.journal.url) }}</em>
        </li>
        {%- endif -%}
        {%- if page.journal.doi -%}
        <li>
            <i
                class="fa-li far fa-file"
                title="doi of version of record"
                aria-hidden="true"
            ></i>
            Version of record:
            {{ doi_link(page.journal.doi) }}
        </li>
        {%- endif -%}
        {%- if page.journal.open_access -%}
        <li>
            <i
                class="fa-li ai ai-open-access"
                title="Open Access"
                aria-hidden="true"
            ></i>
            Open Access
        </li>
        {%- endif -%}
    {%- endif -%}
    {%- if page.preprint is defined -%}
        {%- if page.preprint.archive -%}
        <li>
            <i
                class="fa-li fas fa-book"
                title="Preprint server"
                aria-hidden="true"
            ></i>
            Preprint server:
            <em>{{ link(page.preprint.archive, page.preprint.url) }}</em>
        </li>
        {%- endif -%}
        {%- if page.preprint.doi -%}
        <li>
            <i
                class="fa-li far fa-file"
                title="doi of preprint"
                aria-hidden="true"
            ></i>
            Preprint: {{ doi_link(page.preprint.doi) }}
        </li>
        {%- endif -%}
    {%- endif -%}
    {%- if page.code is defined -%}
        <li>
            <i
                class="fa-li fas fa-code"
                title="Source code"
                aria-hidden="true"
            ></i>
            Source code:
            {{ link(page.code.repo, page.code.url) }}
        </li>
    {%- endif -%}
    {%- if page.supplement is defined -%}
        <li>
            <i
                class="fa-li fas fa-paperclip"
                title="Supplement"
                aria-hidden="true"
            ></i>
            Supplement:
            {{ doi_link(page.supplement.doi) }}
        </li>
    {%- endif -%}
  </ul>
  {%- if page.download -%}
      {% set download_url = '' %}
      {% if page.download == "preprint" %}
      {%   set download_url = "https://doi.org/" + page.preprint.doi %}
      {% elif page.download == "journal" %}
      {%   set download_url = "https://doi.org/" + page.journal.doi %}
      {% else %}
      {%   set download_url = page.download %}
      {% endif %}

      <a class="button" href="{{download_url}}">
          Download the article
      </a>
  {%- endif -%}
{% endblock %}

{% block content %}
  {{ page.body }}

  {%- if page.citation is defined -%}
  <h2>How to cite</h2>
  <p>{{page.citation}}</p>
  {%- endif -%}

{% endblock %}
