{% extends "_entry.html" %}
{%- from "macros.html" import link -%}

{% block info %}
  <h2>Info</h2>
  <ul class="fa-ul">
    {%- if page.institution is defined -%}
    <li>
        <i class="fa-li fas fa-university" title="Organizer"></i>
        {{ link(page.institution.name, page.institution.url) }}
    </li>
    {%- endif -%}
    {%- if page.website is defined -%}
    <li>
        <i class="fa-li fas fa-globe" title="Website"></i>
        {{ link(page.website.name, page.website.url) }}
    </li>
    {%- endif -%}
    {%- if page.code is defined -%}
    <li>
        <i class="fa-li fas fa-code" title="Source code"></i>
        Source code:
        {{ link(page.code.repo, page.code.url) }}
    </li>
    {%- endif -%}
{% endblock %}

{% block content %}
  {{ page.body }}
{% endblock %}
