<!DOCTYPE html>
<html>
  <head>
    <title>{{this.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    {% set bootstrap = "3.1.1" %}
    {% if site.bootstrap %}
    {%   set bootstrap = site.bootstrap %}
    {% endif %}
    {% if site.bootswatch %}
    {%   set theme_path = "bootswatch/"+ bootstrap + '/' + site.bootswatch %}
    {% else %}
    {%   set theme_path = "bootstrap/" + bootstrap + "/css" %}
    {% endif %}
    <link href="//netdna.bootstrapcdn.com/{{theme_path}}/bootstrap.min.css" rel="stylesheet" media="screen">

    {% set url_prefix = '' %}
    {% if site.baseurl %}
    {%   set url_prefix = '/' + site.baseurl %}
    {% endif %}
    <link href="{{url_prefix + '/css/style.css'}}" rel="stylesheet" media="screen">
    <link href="{{url_prefix + '/css/syntax.css'}}" rel="stylesheet" media="screen">

    <!--Include font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% include 'analytics.html' %}
    {% block head_addon %}
    {% endblock %}
  </head>

  <body>

    {% include 'navbar.html' %}

    {%- if this.banner is defined -%}
        <div class="banner"
             title="{{ this.banner.img_description }}"
            style="background-image: url(/images/{{ this.banner.img }}); background-position: center center;">

            {%- if this.banner.title is defined -%}
                <div class="banner-title" title="{{ this.banner.img_description }}">
                    {{ this.banner.title }}
                </div>
            {%- endif -%}

            {%- if this.banner.text is defined -%}
                <div class="banner-text" title="{{ this.banner.img_description }}">
                    {{ this.banner.text }}
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}

    {% block body %}
    {% endblock %}

    {% include 'footer.html' %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/{{bootstrap}}/js/bootstrap.min.js"></script>
    {% block body_addon %}
    {% endblock %}

  </body>
</html>

