{% extends "_base.html" %}

{% block home %}
{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-background">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <h3>{{this.title}}</h3>
         <h4>{{this.tagline}}</h4>
      </div>
   </div>
 </div>
</div>


<div class="container">
    <h3 class="text-center">{{this.about.title}}</h3>
    <div class="col-md-10", align="left">
        <p>
        {{this.about.text}}
        </p>
    </div>
    <div class="col-md-2", align="center">
        <img src={{this.about.image}} class="img-responsive img-circle">
    </div>
</div>

<div class="container">
    <h3 class="text-center">{{this.projects.title}}</h3>
    <div class="col-md-2", align="center">
        <img src={{this.projects.fatiando.image}} class="img-responsive img-circle">
    </div>
    <div class="col-md-10", align="left">
        <h4>{{this.projects.fatiando.title}}</h4>
        <p>
        {{this.projects.fatiando.text}}
        </p>
    </div>
</div>

<div class="container">
    <h3 class="text-center">{{this.projects.title}}</h3>
    <div class="col-md-2", align="center">
        <img src={{this.projects.fatiando.image}} class="img-responsive img-circle">
    </div>
    <div class="col-md-10", align="left">
        <h4>{{this.projects.fatiando.title}}</h4>
        <p>
        {{this.projects.fatiando.text}}
        </p>
    </div>
</div>

{% endblock %}
