{% extends "_base.html" %}
{% from "macros.html" import print_entry %}

{% block body %}

{% include '_navbar.html' %}

<header class="main-header">
    <img
    src="{{ site.frontcover_image.url }}"
    alt=" {{ site.frontcover_image.alt }}"
    />
    <h1>{{site.brand}}</h1>
    <ul class="social-icons">
    {% for social in site.social %}
    {%- if social.home -%}
    <li>
        <a href="{{social.url}}">
            <i class="{{social.icon}}" title={{social.name}}></i>
        </a>
    </li>
    {%- endif -%}
    {% endfor %}
    </ul>
</header>

<main class="container">
{%- for section in this.content -%}
    <section>
        <h2>{{section.title}}</h2>
        {%- if section.content is defined -%}
            {%- for entry in section.content -%}
                {{ print_entry(entry, site) }}
            {%- endfor -%}
        {%- else -%}
          {{ section.excerpt }}
        {%- endif -%}
    </section>
{%- endfor -%}

    {{ this.body }}

</main>

{% include '_footer.html' %}

{% endblock %}
