{% extends "_base.html" %}
{% from "macros.html" import print_entry %}

{% block body %}

<header class="main-header">

    {% include '_navbar.html' %}

    <div class="cover">
      <img
        src="{{ site.frontcover_image.url }}"
        alt=" {{ site.frontcover_image.alt }}"
      />
      <h1>{{site.brand}}</h1>
      <ul class="social-icons">
        {% for social in site.social %}
        {%- if social.home -%}
        <li>
            <a href="{{social.url}}">
                <i class="{{social.icon}}" title={{social.name}}></i>
            </a>
        </li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
</header>

<main class="container">
{%- for section in this.content -%}
    <section>
        <h1>{{section.title}}</h1>
        {%- if section.content is defined -%}
            {%- for entry in section.content -%}
                {{ print_entry(entry, site) }}
            {%- endfor -%}
        {%- else -%}
          {{ section.excerpt }}
        {%- endif -%}
    </section>
{%- endfor -%}

    {{ this.body }}

</main>

{% include '_footer.html' %}

{% endblock %}
