{% extends "_base.html" %}
{%- from "macros.html" import print_entry -%}


{% block body %}

    <header>
        {% include '_navbar.html' %}
        <div class="cover">
            <h1>{{this.title}}</h1>
        </div>
    </header>

    <main class="container">

        {{ this.body }}

        {%- if this.content is defined -%}
            {%- for entry in this.content -%}
                {{ print_entry(entry, site) }}
            {%- endfor -%}
        {%- endif -%}

    </main>

    {% include '_footer.html' %}

{% endblock %}
