{% from "utils.html" import fa %}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_prefix + '/'}}">{{site.brand}}</a>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-left">
        <!--Add link to each element in content.-->
        <!--If this elements has its own content, then will be added as a dropdown menu.-->
        {% block home %}
        {% endblock %}
        {% for title, url in site.navbar_items %}
            <li><a href="{{ url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>

      <!--Add menuicons on the right navbar-->
      <ul class="nav navbar-nav navbar-right">
		{% for icon_name, url in site.navbar_icons %}
            <li> {{ fa(icon_name, site, size='fa-lg', url=url) }} </li>
		{% endfor %}
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>

