{% extends "_base.html" %}
{% from "utils.html" import make_breadcrums, make_toc, get_authors %}

{% block body %}
<div class="container">

    {% block breadcrumbs %}
      {{ make_breadcrums(this) }}
    {% endblock %}


    {% block content %}
		<h1>{{ this.title }}</h1>
		<p>{{ get_authors(this, site) }} ({{ this.date.year }})</p>

        <h2>Information</h2>
        <ul>
            <li>Presented at
                {%- if this.meeting_url is defined -%}
                    <a href="{{ this.meeting_url }}">
                {%- endif -%}
                {{ " " + this.meeting }}
                {%- if this.meeting_url is defined -%}
                    </a>
                {%- endif -%}
            </li>
            {%- if this.license is defined -%}
                {%- set license = site.licenses[this.license] -%}
                <li>License: <a href="{{ license.url }}">{{ license.name }}</a></li>
            {%- endif -%}
            {%- if this.repository is defined -%}
                <li>
                    Repository:
                    <a href="https://www.github.com/{{ this.repository }}">
                        {{ this.repository }}
                    </a>
                </li>
            {%- endif -%}
            {%- if this.doi is defined -%}
                <li>
                    doi:
                    <a href="https://www.doi.org/{{ this.doi }}">{{ this.doi }}</a>
                </li>
            {%- endif -%}
        </ul>

        {%- if this.pdf -%}
            <a href="/{{ site.pdfs_path }}/{{ this.pdf }}" class="btn btn-primary" role="button">
                <strong>Download poster</strong>
            </a>
        {%- endif -%}

        <h2>Poster</h2>
        {%- if this.image -%}
            {%- if this.pdf -%}
                <a href="/{{ site.pdfs_path }}/{{ this.pdf }}">
            {%- endif -%}
            <figure>
                <img src="/{{ site.images_path }}/{{ this.image }}" class="img-responsive poster">
            </figure>
            {%- if this.pdf -%}
                </a>
            {%- endif -%}
        {%- endif -%}

        <main>
            {{this.body}}
        </main>

        <ul class="pager">
            {% if this.prev %}
                <li class="previous">
                    <a href="{{this.prev.url}}">&larr; {{this.prev.title}}</a>
                </li>
            {% endif %}
            {% if this.next %}
                <li class="next">
                    <a href="{{this.next.url}}">{{this.next.title}} &rarr;</a>
                </li>
            {% endif %}
        </ul>

    {% endblock %}

</div>
{% endblock %}
