{% extends "_base.html" %}
{% from "utils.html" import make_breadcrums, make_toc, get_authors, figure %}

{% block body %}

<div class="container">

  {% block breadcrumbs %}
      {{ make_breadcrums(this) }}
  {% endblock %}


    {% block content %}
		<h1>{{ this.title }}</h1>
		<p>{{ get_authors(this, site) }} ({{ this.date.year }})</p>

        <h2>Information</h2>
        <ul>
            <li>Journal: <em>{{ this.journal }}</em></li>
            {%- if this.repository is defined -%}
                <li>Source code: <a href="https://www.github.com/{{ this.repository }}">{{ this.repository }}</a></li>
            {%- endif -%}
            {%- if this.doi is defined -%}
                <li>
                    doi: <a href="https://www.doi.org/{{ this.doi }}">{{ this.doi }}</a>
                </li>
            {%- endif -%}
            {%- if this.preprint is defined -%}
                <li>
                    Preprint (PDF):
                    <a href="https://www.doi.org/{{ this.preprint }}">
                        {{ this.preprint }}
                    </a>
                </li>
            {%- endif -%}
            {%- if this.supplement is defined -%}
                <li>
                    Supplement:
                    <a href="https://www.doi.org/{{ this.supplement }}">
                        {{ this.supplement }}
                    </a>
                </li>
            {%- endif -%}
        </ul>

        <!-- Add download button --!>
        <!-- Preprint DOI link will be prioritized over PDF stored on the website --!>
        {%- if this.inreview -%}
            <div class="alert alert-warning">
                This paper is currently under peer-review at {{ this.journal }}.
            </div>
        {%- endif -%}

        {%- if this.preprint -%}
            <a href="https://doi.org/{{ this.preprint }}" class="btn btn-primary" role="button">
                <strong>Download article</strong>
            </a>
        {%- elif this.pdf -%}
            <a href="/{{ site.pdfs_path }}/{{ this.pdf }}" class="btn btn-primary" role="button">
                <strong>Download article</strong>
            </a>
        {%- endif -%}

        <main>
            {{this.body}}
        </main>

        {%- if this.figure -%}
            {%- if this.caption -%}
                {{ figure(this.figure, site, caption=this.caption) }}
            {%- else -%}
                {{ figure(this.figure, site) }}
            {%- endif -%}
        {%- endif -%}

        {%- if this.citation is defined -%}
            <h2>How to cite</h2>
            {{ this.citation }}
        {%- endif -%}

    {% endblock %}

{% endblock %}
