{% extends "_entry.html" %}
{%- from "macros.html" import link, doi_link -%}

{% block extra_info %}
    {%- if this.inreview -%}
        <div class="warning">
            This article is under peer-review process
            {% if this.journal is defined -%}
            in <em>{{ this.journal.name }}</em>
            {%- endif -%}
        </div>
    {%- endif -%}
{% endblock %}

{% block info %}
  <h2>Info</h2>
  <ul>
    {%- if this.journal is defined -%}
        {%- if this.journal.name -%}
        <li>
            Journal:
            <em>{{ link(this.journal.name, this.journal.url) }}</em>
        </li>
        {%- endif -%}
        {%- if this.journal.doi -%}
        <li>
            Version of record:
            {{ doi_link(this.journal.doi) }}
        </li>
        {%- endif -%}
        {%- if this.journal.open_access -%}
        <li>
            Open Access
        </li>
        {%- endif -%}
    {%- endif -%}
    {%- if this.preprint is defined -%}
        {%- if this.preprint.archive -%}
        <li>
            Preprint server:
            <em>{{ link(this.preprint.archive, this.preprint.url) }}</em>
        </li>
        {%- endif -%}
        {%- if this.preprint.doi -%}
        <li>
            Preprint: {{ doi_link(this.preprint.doi) }}
        </li>
        {%- endif -%}
    {%- endif -%}
    {%- if this.code is defined -%}
        <li>
            Source code:
            {{ link(this.code.repo, this.code.url) }}
        </li>
    {%- endif -%}
    {%- if this.supplement is defined -%}
        <li>
            Supplementary material:
            {{ doi_link(this.supplement.doi) }}
        </li>
    {%- endif -%}
  </ul>
  {%- if this.download -%}
      {% set download_url = '' %}
      {% if this.download == "preprint" %}
      {%   set download_url = "https://doi.org/" + this.preprint.doi %}
      {% elif this.download == "journal" %}
      {%   set download_url = "https://doi.org/" + this.journal.doi %}
      {% else %}
      {%   set download_url = this.download %}
      {% endif %}

      <a class="button" href="{{download_url}}">
          Download the article
      </a>
  {%- endif -%}
{% endblock %}

{% block content %}
  {{ this.body }}

  {%- if this.citation is defined -%}
  <h2>How to cite</h2>
  <p>{{this.citation}}</p>
  {%- endif -%}

{% endblock %}
