{% extends "_base.html" %}
{% from "utils.html" import make_breadcrums, make_toc, get_authors %}

{% block body %}

<div class="container">

  {% block breadcrumbs %}
      {{ make_breadcrums(this) }}
  {% endblock %}


    {% block content %}
		<h1>{{ this.title }}</h1>
		<p>{{ get_authors(this, site) }} ({{ this.date.year }})</p>

        <h2>Information</h2>
        <ul>
            <li>Journal: <em>{{ this.journal }}</em></li>
            {%- if this.repository is defined -%}
                <li>Source code: <a href="https://www.github.com/{{ this.repository }}">{{ this.repository }}</a></li>
            {%- endif -%}
            {%- if this.doi is defined -%}
                <li>doi: <a href="https://www.doi.org/{{ this.doi }}">{{ this.doi }}</a></li>
            {%- endif -%}
        </ul>
        {%- if this.inreview -%}
            <div class="alert alert-warning">
                This paper is currently under peer-review at {{ this.journal }}.
            </div>
        {%- endif -%}

        {%- if this.pdf -%}
			<a href="pdf/{{ this.pdf }}" class="btn btn-info" role="button">Download PDF</a>
        {%- endif -%}

        <main>
            {{this.body}}
        </main>
    {% endblock %}

{% endblock %}
