{% extends "_entry.html" %}
{%- from "macros.html" import link -%}

{% block info %}
  <h2>Info</h2>
  <ul>
    {%- if this.institution is defined -%}
    <li>
        {{ link(this.institution.name, this.institution.url) }}
    </li>
    {%- endif -%}
    {%- if this.website is defined -%}
    <li>
        Website:
        {{ link(this.website.name, this.website.url) }}
    </li>
    {%- endif -%}
    {%- if this.code is defined -%}
    <li>
        Source code:
        {{ link(this.code.repo, this.code.url) }}
    </li>
    {%- endif -%}
{% endblock %}

{% block content %}
  {{ this.body }}
{% endblock %}
