{# Functions for templates #}

{%- macro home_element(category) -%}
    <div class="container">
        <h3 class="text-center">{{ category.title }}</h3>
        {%- if category.content is defined -%}
            {%- for subcategory in category.content -%}
                {{ _home_element_row(subcategory) }}
            {%- endfor -%}
        {%- else -%}
            {{ _home_element_row(category) }}
        {%- endif -%}
    </div>
{%- endmacro -%}

{%- macro _home_element_row(category) -%}
    {# Define alignment #}
    {%- if category.summary.alignment is defined -%}
        {% set alignment = category.summary.alignment %}
    {%- else -%}
        {% set alignment = "left" %}
    {%- endif -%}
    {# Create element #}
    <div class="row">
        {%- if alignment == "left" -%}
            <div class="col-md-2", align="center">
                <img src="{{ category.summary.image }}" class="img-responsive img-circle">
            </div>
            <div class="col-md-10", align="left">
                {{ category.summary.text }}
            </div>
        {%- elif alignment == "right" -%}
            <div class="col-md-10", align="left">
                {{ category.summary.text }}
            </div>
            <div class="col-md-2", align="center">
                <img src="{{ category.summary.image }}" class="img-responsive img-circle">
            </div>
        {%- endif -%}
    </div>
{%- endmacro -%}
