{# Functions for templates #}

{%- macro home_element(category, thumbnail_width=-1) -%}
    <div class="container">
        <h3 class="text-center">{{ category.title }}</h3>
        {%- if category.content is defined -%}
            {%- for subcategory in category.content -%}
                {{ _home_element_row(subcategory, thumbnail_width=thumbnail_width, show_title=true) }}
            {%- endfor -%}
        {%- else -%}
            {{ _home_element_row(category, thumbnail_width=thumbnail_width) }}
        {%- endif -%}
    </div>
{%- endmacro -%}


{%- macro _home_element_row(category, thumbnail_width=-1, show_title=false) -%}
    {# Define alignment #}
    {%- if category.thumbnail_alignment is defined -%}
        {% set alignment = category.thumbnail_alignment %}
    {%- else -%}
        {% set alignment = "left" %}
    {%- endif -%}
    {# Create element #}
    <div class="row">
        {%- if alignment == "left" -%}
            <div class="col-md-2", align="center">
				{{ _home_thumbnail(category, thumbnail_width=thumbnail_width) }}
            </div>
            <div class="col-md-10", align="left">
                {{ _home_summary(category, show_title) }}
            </div>
        {%- elif alignment == "right" -%}
            <div class="col-md-10", align="left">
                {{ _home_summary(category, show_title) }}
            </div>
            <div class="col-md-2", align="center">
				{{ _home_thumbnail(category, thumbnail_width=thumbnail_width) }}
            </div>
        {%- endif -%}
    </div>
{%- endmacro -%}


{%- macro _home_summary(category, show_title) -%}
	{%- if show_title -%}
		{%- if category.summary_url -%}
			<a href={{ category.summary_url }}>
		{%- endif -%}
		<h4>{{ category.title }}</h4>
		{%- if category.summary_url -%}
			</a>
		{%- endif -%}
	{%- endif -%}
	{{ category.summary }}
{%- endmacro -%}


{%- macro _home_thumbnail(category, thumbnail_width=-1) -%}
	{%- if category.summary_url -%}
		<a href={{ category.summary_url }}>
	{%- endif -%}
	{%- if thumbnail_width > 0 -%}
		<img src="{{ category.thumbnail }}" width={{ thumbnail_width }} class="img-responsive img-circle">
	{%- else -%}
		<img src="{{ category.thumbnail }}" class="img-responsive img-circle">
	{%- endif -%}
	{%- if category.summary_url -%}
		</a>
	{%- endif -%}
{%- endmacro -%}


{%- macro fa(name, class='', title='', url='') -%}
	{%- if url != '' -%}
		<a href="{{ url }}">
	{%- endif -%}
	<i class="fab fa-{{name}} {{class}}" title="{{ title }}"></i>
	{%- if url != '' -%}
		</a>
	{%- endif -%}
{%- endmacro -%}
